<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.fiuba.seedyfiuba">

	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.hardware.camera" android:required="true" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.SeedyFiuba">

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.fiuba.seedyfiuba.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>

		<activity
			android:name=".login.view.activities.OnboardingSetupActivity"
			android:label="@string/title_activity_onboarding_setup" />
		<activity
			android:name=".login.view.activities.RegisterActivity"
			android:label="@string/title_activity_register"
			android:windowSoftInputMode="adjustResize" />
		<activity
			android:name=".login.view.activities.LoginActivity"
			android:label="@string/title_activity_login" />

		<activity
			android:name=".projects.view.activities.ProjectsActivity"
			android:label="@string/title_activity_projects" />
		<activity
			android:name=".home.view.activities.HomeActivity"
			android:label="@string/title_activity_home"/>

		<activity android:name=".BaseActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</activity>
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>
